.rapCalendar{
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
}
.rapCalendar tbody td{
	text-align: center;
	cursor:pointer;
	border: 1px solid transparent;
	width:24px;
	height:24px;
	border-radius:50%;
}
.rapCalendar tbody td:hover{
	border-color: black;
}
.rapCalendar .selected{
	background-color:black;
	color:white;
}
.rapCalendar .larr{
	float:left;
}
.rapCalendar .larr:before{
	content:"◄";
}
.rapCalendar .rarr{
	float:right;
}
.rapCalendar .rarr:before{
	content:"►";
}